body{
	margin:5%;
	background-color: #D1E8E2;
	}

em{
	font-size:13pt;
}
nav{
	margin: 0px;
	padding:10px;
	position: relative;
	bottom:60px;
}

nav a{text-decoration:none;
	color:#116466;
	}

h1{font-style:Century;
	text-align:center;}	

h3{font-style:Century;
	color:#265552;
}

p{color:#0e1114;
font-size:15pt;}

li{
color:#0e1114;
font-size:15pt;
list-style:none;}

a {text-decoration:none;
	color:gray;}
	
span a{text-align:right;}

#about{
	position: relative;
	bottom:30px;
	font-size: 26px;
	position: absolute;
	top: 25px;
	margin:4%;
}
